.calculator {
  box-sizing: border-box;
  border: black 2px solid;
  height: 30rem;
  width: 25rem;
  display: grid;
  grid-template-rows: min-content 1fr 3fr;
  justify-content: space-between;
  background-color: rgba(212, 201, 201, 0.2);
}
.calculator-brand h1 {
  color: cadetblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 1000;
  font-style: italic;
}
.calculator-top {
  height: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;

  justify-content: space-around;
  align-items: space-between;
}
.calculator-screen {
  box-sizing: border-box;
  border: blue 2px solid;
  display: grid;
  grid-template-rows: 70% 30%;
}
#calculator-operation {
  border: brown 2px solid;
}
#calculator-result {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: orange 2px solid;
}
.backspace {
  height: 100%;
  background-color: brown;
  display: grid;
  justify-self: center;
  align-self: center;
}
.calculator-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: space-evenly;
}
.button-numbers {
  width: 15rem;
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
}
.button-operators {
  width: 1fr;
  display: grid;
  justify-content: center;
  align-items: center;
}
.button {
  height: 2rem;
  width: 4rem;
  background-color: grey;

  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
}

.button-0 {
  grid-column: 2/3;
}
